.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Rakkas", cursive;
  gap: 0.5rem;
  width: 70%;
  margin: 4rem auto 2rem;
}

.footer .left,
.footer .right {
  font-size: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.5rem;
}

.footer li {
  list-style: none;
  cursor: pointer;
}
